<div id="content" class="container text-center mt-5" style="max-width: 1000px; margin: 0 auto;">
    <h1>Bienvenido a <strong>WorkFlow</strong></h1>
    <div class="row mt-4">
        <!-- Primer tarjeta -->
        <div class="col-12 col-md-4 col-lg-5 mb-5"> <!-- Ajusté el col-md-5 a col-md-4 y agregué mb-4 para margen inferior -->
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/6461/6461908.png" class="card-img-top" alt="Icono de WorkFlow" style="background-color: transparent; width: 80px; height: 80px; margin: 0 auto;">
                <div class="card-body">
                    <h5 class="card-title">Optimiza tus procesos</h5>
                    <p class="card-text">WorkFlow integra tus herramientas favoritas para automatizar tareas y generar información en tiempo real, aumentando la productividad de tu equipo.</p>
                </div>
            </div>
        </div>

        <!-- Segunda tarjeta -->
        <div class="col-12 col-md-4 col-lg-5 mb-5"> <!-- Ajusté el col-md-5 a col-md-4 y agregué mb-4 para margen inferior -->
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/1541/1541416.png" class="card-img-top" alt="Icono de WorkFlow" style="background-color: transparent; width: 80px; height: 80px; margin: 0 auto;">
                <div class="card-body">
                    <h5 class="card-title">Integración fácil</h5>
                    <p class="card-text">Conecta diferentes plataformas sin complicaciones y personaliza tus flujos de trabajo para optimizar resultados.</p>
                </div>
            </div>
        </div>

        <!-- Tercera tarjeta -->
        <div class="col-12 col-md-4 col-lg-5 mb-5"> <!-- Ajusté el col-md-5 a col-md-4 y agregué mb-4 para margen inferior -->
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/2755/2755550.png" class="card-img-top" alt="Icono de WorkFlow" style="background-color: transparent; width: 80px; height: 80px; margin: 0 auto;">
                <div class="card-body">
                    <h5 class="card-title">Toma de decisiones ágil</h5>
                    <p class="card-text">Genera informes claros y completos con datos sincronizados en tiempo real para mejorar la toma de decisiones en tu empresa.</p>
                </div>
            </div>
        </div>
    </div>
</div>
